div#app {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
}

li {
    border: solid 1px white;
    padding: 7px;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
}

button {
    height: 60px;
    margin: 40px auto auto auto;
    padding: 15px;
    display: block;
    background-color: rgb(95, 95, 95);
    border-radius: 5px;
    color: white;
}

#general {
    width: 60%;
    margin: auto;
}

#general * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 100;
    font-size: 2.9em;
    margin: 0 auto 0 auto;
}

img {
    margin: 35px auto 30px auto;
    width: 250px;
}

h2 {
    font-weight: normal;
    margin-top: 0;
}

#real {
    font-size: 1.7em;
}

#date {
    font-size: 1.4em;
}

#synopsis {
    margin-top: 20px;
    width: 80%;
    border: 1px white solid;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

h3 {
    font-size: 1.3em;
    font-weight: normal;
}