<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un film</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/global.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app">
        <button id="add" onclick="window.location.href='./add_film.html'" v-if="isAdmin">Ajouter un film</button>
        <div id="account">
            <div id="signin">
                <button onclick="window.location.href='./signin.html'" v-if="!isLogged">Connexion</button>
                <button @click="signout()" v-if="isLogged">Déconnexion</button>
            </div>
            <h2>Bonjour {{nickname}} !</h2>
            <div id="account_right">
                <button v-if="!isLogged" onclick="window.location.href='./signup.html'" >Inscription</button>
                <div v-if="isLogged">
                    Films aimés : {{likedFilmsId.length}}
                </div>
                <div v-if="isLogged">
                    Films rejetés : {{dislikedFilmsId.length}}
                </div>
                <div v-if="isLogged">
                    Avis laissés : {{opinionsId.length}}
                </div>
            </div>
        </div>
        <div id="content">
            <div id="left">
                <ul v-if="films">
                    <li @click="getOneFilm(film._id)" v-for="film in films" :key="film._id">{{film.title}}</li>
                </ul>
            </div>
            <div id="film">
                <h1>{{title}}</h1>
                <div id="center">
                    <div id="opinions_and_likes">
                        <div id="likes">
                            <img @click="like()" class="icons" :src="likedIcon" alt="Likes">
                            <div>{{likes}}</div>
                        </div>
                        <div id="dislikes">
                            <img @click="dislike()" class="icons" :src="dislikedIcon" alt="Dislikes">
                            <div>{{dislikes}}</div>
                        </div>
                        <div id="opinionIcon">
                            <img @click="addOpinion()" class="icons" src="../icons/note.png" alt="Avis">
                            <div>{{opinions.length}}</div>
                        </div>
                    </div>
                    <img id="poster" :src="path" :alt="title">
                    <div id="opinionArea">
                        <div id="opinion" v-if="selectedOpinion">
                            <h1>{{selectedOpinion.author}}</h1>
                            <p>{{opinions[opinionIndex].content}}</p>
                            <div id="opinionIcons">
                                <img src="../icons/arrow_left.png" alt="arrow_left" @click="opinionSelection(-1)">
                                <div>
                                    <span>{{selectedOpinion.likes}}</span>
                                    <img :src="likedOpinionIcon" alt="heart_icon" @click="likeOpinion()">
                                </div>
                                <img src="../icons/arrow_right.png" alt="arrow_right" @click="opinionSelection(1)">
                            </div>
                           
                        </div>
                    </div>
                </div>
                <h2 id="director" @click="getFilms('getRandomInOneDirector/',director)">{{director}}</h2>
                <h2 id="date">Sorti le {{date}}</h2>

                <div id="description">
                    <h3>{{description}}</h3>
                </div>
            </div>
            <div id="genres">
                <ul>
                    <li v-for="(genre,index) in genres" :key="index"
                        class="genres" :class="{'activeGenres' : genre.active}"
                        @click="getFilms('getRandomInOneGenre/',genre.name)">{{genre.name}}</li>
                </ul>
            </div>

        </div>
    </div>


    <script src="../scripts/main.js"></script>
</body>

</html>