<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/sign.css">
    <link rel="stylesheet" href="../styles/global.css">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Connexion</title>
</head>
<body>
<div id="app">
    <h1>Connexion</h1>
    <form>
        <label for="nickname">Pseudo : </label>
        <input type="text" name="nickname" v-model="nickname">
        <label for="password">Mot de passe : </label>
        <input type="password" name="password" v-model="password">
    </form>
    <button @click="signin()">Connexion</button>
</div>
    <script src="../scripts/signin.js"></script>
</body>
</html>