div#app {
    display: flex;
    flex-direction: column;
}

#add {
    position: absolute;
    top: 10px;
    right: 60px;
}

button {
    height: 60px;
    padding: 15px;
    display: block;
    background-color: rgb(95, 95, 95);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#signin {
    display: flex;
    justify-content: space-between;
}

#account {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 5px 10px 12px 10px;
    border: solid 1px rgb(76 88 102);
    border-radius: 25px;
    border-top: none;
    background-color: rgb(76 88 102);
}

#account button {
    margin: auto;
    border-radius: 30px;
    height: 45px;
    width: 110px;
    padding: 0;
}

#account div div {
    margin-top: 5px;
    font-size:0.8em;
}

#account h2 {
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 2.1em;
}

#account_right {
    width: 110px;
}


#content {
    display: flex;
    margin-top: 15px;
}

#left , #genres {
    width: 20%;
}

#left {
    margin-left: 40px;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    border: solid 1px white;
    padding: 7px;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
}

#film {
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

#center>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    margin: auto;
    position: relative;
}

#center {
    /* width: 250px; */
    margin: auto;
    position: relative;
    display:flex;
    justify-content: space-around;
}

#opinions_and_likes {
    /* position: absolute;
    width: 50px;
    right: 300px;
    top: 45px; */
    align-items:end;
    right:30px;
    text-align: center;
}

#opinions_and_likes>* {
    margin-top: 25px;
}

#opinions_and_likes>*>* {
    margin-top: 5px;
}

#opinions_and_likes .icons , 
#opinionIcons img
 {
    width: 30px;
    cursor: pointer;
}

#opinionIcons {
    display: flex;
    justify-content: space-around;
    width: 140px;
    margin: auto;
}

#opinionIcons h1 {
    font-size:1.4em;
    margin-bottom:10px;
}

#opinionIcons > div > img {
    vertical-align: middle;
    margin-left: 4px;
}

h1 {
    font-weight: 100;
    font-size: 3em;
    margin: 0 auto 0 auto;
}

#poster {
    margin-top: 30px;
    margin-bottom: 25px;
    width: 250px;
}

#opinion {
    width: 80%;
    border: solid white 1px;
    border-radius:10px;
    padding:15px;
}

h2 {
    font-weight: normal;
    margin-top: 0;
}

h1 , h2 {
    text-align: center;
}

#director {
    font-size: 1.7em;
}

#director:hover {
    cursor: pointer;
    text-decoration: underline;
}

#date {
    font-size: 1.4em;
}

#description {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    border: 1px white solid;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

h3 {
    font-size: 1.3em;
    font-weight: normal;
}

#genres {
    margin-right: 40px;
    margin-top: 35px;
}

#genres ul {
    max-width: 150px;
    position: relative;
    left: 150px;
}

.genres {
    color: rgb(95, 95, 95)
}

.activeGenres {
    color: white;
}